body {
    font-family: 'Yantramanav', sans-serif;
}

.sidebar-wrapper {
    z-index: 1;
    position: fixed;
    left: 250px;
    background: #000;
}

.sidebar-nav {
    position: fixed;
    height: 100%;
    width: 200px;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #28282F;
    overflow-x: hidden;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

    .sidebar-nav a {
        line-height: 40px;
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 17px;
        color: #999999;
        display: block;
        line-height: 20px;
    }

        .sidebar-nav a:hover {
            color: #fff;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
        }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 23px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

.table{
    width: 50%; 
}

.main {
    margin-left: 220px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
