@page
@model WebApplication.Pages.Metrics.ExceptionsModel
@using DataTransfer
@{
    ViewData["Title"] = "Exceptions";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="main">
    <font size="50">Exceptions</font>

    <p>Log of Exceptions</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Exception Type</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.exceptions != null)
            {
                @for (int i = Model.exceptions.Count - 1; i >= 0; i--)
                {
                    Exceptions e = Model.exceptions.ElementAt<Exceptions>(i);
                    <tr>
                        <td>@e.type</td>
                        <td>@e.timestamp</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>
</div>