@page
@using DataTransfer
@model WebApplication.Pages.Metrics.Garbage_CollectionModel
@{
    ViewData["Title"] = "Garbage_Collection";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="main">
    <font size="50">Garbage Collection</font>

    <p>Total Garbage Collection: @Model.totalGC</p>

    <p>Log of Garbage Collection</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>GC Type</th>
                <th>Id</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.gc != null)
            {
                @for (int i = Model.gc.Count - 1; i >= 0; i--)
                {
                    DataTransfer.GC g = Model.gc.ElementAt<DataTransfer.GC>(i);
                    <tr>
                        <td>@g.type</td>
                        <td>@g.id</td>
                        <td>@g.timestamp</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>
</div>