@page
@model WebApplication.Pages.Metrics.Garbage_CollectionModel
@{
    ViewData["Title"] = "Garbage_Collection";
}

<div class="main">
    <font size="50">Garbage Collection</font>
    <p>Insert...</p>
</div>
