@page
@using DataTransfer
@model WebApplication.Pages.Metrics.HTTP_RequestsModel
@{
    ViewData["Title"] = "HTTP_Requests";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="main">
    <font size="50">HTTP Requests</font>

    <p>Log of HTTP Requests</p>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Http Type</th>
                <th>Method</th>
                <th>Path</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.http != null)
            {
                @foreach (Http_Request h in Model.http)
                {
                    <tr>
                        <td>@h.type</td>
                        <td>@h.method</td>
                        <td>@h.path</td>
                        <td>@h.timestamp</td>
                    </tr>

                }
            }
            else
            {
                <tr>Unable to retrieve data</tr>
            }
        </tbody>
    </table>
</div>