@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main">
    <font size="50">.NET Performance Monitor</font>
    <p>Check your app's performance by navigating the sidebar.</p>
</div>