@page
@model WebApplication.Pages.Metrics.CPU_MemoryModel
@using PerfMonitor;
@{
    ViewData["Title"] = "CPU_Memory";
}

<div class="main">
    <font size="50">CPU and Memory Usage</font>
    <p>Average CPU Usage:</p>

    <p>Log of CPU Usage</p>
    <table style="width:100%">
        <tr>
            <th>CPU</th>
            <th>Timestamp</th>
        </tr>
        @if (Model.cpu != null)
        {
            @foreach (CPU_Usage c in Model.cpu)
            {
                <tr>
                    <td>@c.usage</td>
                    <td>@c.timestamp</td>
                </tr>

            }
        }
        else
        {
            <tr>Unable to retrieve data</tr>

        }
    </table>

    <p>Log of Memory Usage</p>
    <table style="width:100%">
        <tr>
            <th>Memory</th>
            <th>Timestamp</th>
        </tr>
        @if (Model.mem != null)
        {
            @foreach (Mem_Usage m in Model.mem)
            {
                <tr>
                    <td>@m.usage</td>
                    <td>@m.timestamp</td>
                </tr>

            }
        }
        else
        {
            <tr>Unable to retrieve data</tr>

        }
    </table>

</div>