@page
@model WebApplication.Pages.Metrics.CPU_MemoryModel
@{
    ViewData["Title"] = "CPU_Memory";
}

<div class="main">
    <font size="50">CPU and Memory Usage</font>
    <p>Average CPU Usage:</p>

    <p>Log of CPU Usage</p>
    <table style="width:100%">
        <tr>
            <th>CPU</th>
            <th>Timestamp</th>
        </tr>
        @if (Model.cpu != null)
        {
            <tr>
                <td>@Model.cpu.usage</td>
                <td>@Model.cpu.timestamp</td>
            </tr>
        }
        else
        {
            <tr>Unable to retrieve data</tr>

        }
    </table>

    <p>Log of Memory Usage</p>
    <table style="width:100%">
        <tr>
            <th>Memory</th>
            <th>Timestamp</th>
        </tr>
        @if (Model.mem != null)
        {
            <tr>
                <td>@Model.mem.usage</td>
                <td>@Model.mem.timestamp</td>
            </tr>
        }
        else
        {
            <tr>Unable to retrieve data</tr>

        }
    </table>
</div>