@page
@model WebApplication.Pages.Metrics.CPU_MemoryModel
@{
    ViewData["Title"] = "CPU_Memory";
}

<div class="main">
    <font size="50">CPU and Memory Usage</font>
    <p>Average CPU Usage:</p>
</div>
        <!--
            if (Model.CPUModel.___)
            {
            <p>Log of Time and CPU Usage</p>
                foreach (var CPUPoint in Model.CPUModel.Items)
                {
                    <ul>
                         <li>Model.CPUModel.___.TimeStamp  Model.CPUModel.___.CPUUsage</li>
                    </ul>
                }
            }
            else
            {
                <p>Unable to retrieve data</p>
            }-->


