@page
@model WebApplication.Pages.Metrics.HTTP_RequestsModel
@{
    ViewData["Title"] = "HTTP_Requests";
}

<!DOCTYPE html>
<html>
<head>
    <title>.NET Performance Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300" rel="stylesheet">
</head>
<body>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="index.html">.NET Performance Monitor</a>
            </li>
            <li>
                <a href="CPU&Memory.html">CPU and Memory Usage</a>
            </li>
            <li>
                <a href="HTTP_Requests.html">HTTP Requests</a>
            </li>
            <li>
                <a href="Exceptions.html">Exceptions</a>
            </li>
            <li>
                <a href="Contentions.html">Contentions</a>
            </li>
            <li>
                <a href="Garbage_Collection.html">Garbage Collection</a>
            </li>
            <li>
                <a href="JIT.html">JIT</a>
            </li>
        </ul>
    </div>

    <div class="main">
        <font size="50">HTTP Requests</font>
        <p>Insert...</p>
    </div>

</body>
</html>

